<div class="home_page_contact_information" id="home_page_contact_information">
  <div class="flip-container" id="flip-container">
      <div class="flipper" id="flipper">
          <div class="front">
              <div class="front_button_holder"><a href="javascript:void(0)" onclick="rotate();return false" class="btn btn-white flip">Send Message</a></div>
          </div>
          <div class="back">
              <a href="javascript:void(0)" onclick="rotateback();return false" class="flip_close"><img src="/image/if_Vector-icons_05_1041633.png" /></a>
              <form class="contact-form" action="">
                  <input class="gutter" id="name" type="text" placeholder="Name">
                  <input type="text" id="company" placeholder="Company">
                  <input class="gutter" id="phone" type="text" placeholder="Telephone">
                  <input type="text" id="email" placeholder="Email">
                  <textarea name="messages" id="messages" placeholder="Leave a message"></textarea>
                  <input type="submit" value="Send">
              </form>
          </div>
      </div>
  </div>
</div>
