<meta charset="UTF-8">
<meta name="personal website" content="Java programmer, seeking for new job"/>
<meta name="author" content="Cheng(Alen) Cheng" />
<link href="https://fonts.googleapis.com/css?family=Fredericka+the+Great" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Allura" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Barlow+Condensed" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="/css/home_english.css">
<title>Alen's Home Page</title>
<script type="text/javascript" src="/js/jquery-3.2.1.js"></script>
<script type="text/javascript" src="/js/home_page_navbar.js"></script>
<script type="text/javascript" src="/js/moveToContactInformation.js"></script>
