<header>
    <div class="home_page_navigator">
        <a href="/" class="home_page_logo_redirector"><img src="/image/mylogo341x63.png" alt="logo" class="home_page_logo" height="63" width="341"/></a>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/files/Resume.pdf">Resume</a></li>
                <li><a href="/blog">Blog</a></li>
                <li><a href="/contact">Contact</a></li>
            </ul>
        </nav>
    </div>
</header>
