<!DOCTYPE html>
<html>
  <head>
    {{> headinfo}}
  <!-- <script type="text/javascript">
    let article = ''
    function getArticle() =>{
      $.get('/blog', funciton(result){
        console.log(result)
      })
    }
    getArticle();
  </script> -->
  </head>
  <body>
    {{> header}}
    
  </body>
</html>
