<!DOCTYPE html>
<html>
  <head>
    {{> headinfo}}
  </head>
  <body>
    {{> header}}

    <div class="home_page_body">

    <!--Video and context below nav bar-->
      <div class="home_page_videoplayer">
          <video width="1280px" height="500px" autoplay loop>
              <source src="/vedio/19937563.mp4">
          </video>
      </div>
      <div class="home_page_overvideo_content">
          <span class="home_page_overvideo_character">Alen Cheng <br />Java Developer</span>
          <ul>
              <li><a href="#home_page_work_experience">Learn more</a></li>
          </ul>
      </div>


    <!--main context on the home page-->
    <div class="home_page_body_self_introduction_container" id="home_page_body_self_introduction_container">
        <div class="home_page_body_self_introduction">
            <h2>Self Introduction</h2>
            <p class="home_page_body_self_introduction_paragraph">
                My name is Cheng(Alen) Cheng and I specialize in Software Development.
                Just finished my master's degree in Southern Methodist University.
                I am now seeking for an entry-level Java Web develper position in Dallas,
                looking to bring my experiences and skills to a determined team.<br /><br />
                I have work experience back in China, Acted as a leader of interns,
                responsible for the daily work management of interns. Successfully led design
                presentations to product management team.Participated in an online banking service project and helped firm finish User Manual of the project. Proposed over 20 improvements,
                90% of which got accepted. Improved compatibility on different web browsers (Safari, Chrome, IE, Firefox)
                of the online banking service project.Troubleshooter and resolved over 100 page-display
                issues caused by browser compatibility and framework configuration.<br /><br />
                My true passions are programming, building beautiful websites,
                learning new tricks about programming and gathering information about modern technologies
                such as machine learning, Big Data, neural network. Oh, and last thing...
                I hate half done work and always strive for excellence.
            </p>
        </div>
        <div class="home_page_body_self_introduction_paragraph2">
            <h2>When I'm not working, you can find me ...</h2>
        </div>
        <div class="home_page_body_self_introduction_paragraph3">
            <ul style="list-style: none">
                <li>
                    <img src="/image/if_Chef1_2316012.png"/>
                    <div class="home_page_habits">
                        <p>
                            Cooking is a really interesting habit. I think you guys all familiar with chinese food.
                            Hum...I love cooking but had to admit I am not a perfect cook.
                        </p>
                    </div>
                </li>
                <li>
                    <img src="/image/if_halloween_outline-12_1509458.png"/>
                    <div class="home_page_habits">
                        <p>
                            Love fluffy little pets like cats and dogs.<br />
                            Kind weird a programmer loves something alive.:D <br/>
                            Always want to have a cat or dog.
                        </p>
                    </div>
                </li>
                <li>
                    <img src="/image/if_movie_107203.png"/>
                    <div class="home_page_habits">
                        <p>
                            Watching movies, 100% science fiction fan. I grew up on science fiction films.
                            This is part of my reason for study abroad in the US.
                        </p>
                    </div>
                </li>
                <li>
                    <img src="/image/if_worldwide_location_2639757.png"/>
                    <div class="home_page_habits">
                        <p>
                            Looking for a new destination to add to my bucket list. Curious about different cultures, amazing
                            ancient architectures.
                        </p>
                    </div>
                </li>
            </ul>
        </div>
        <div class="home_page_image_container2">
            <img src="/image/573126425fe7b_1024.jpg"/>
        </div>
        <div class="home_page_work_experience_context">
            <p>I'm here to create amazing Website and Java Web applications.</p>
            <h2>LET'S BUILD SOMETHING INCREDIBLE TOGETHER</h2>
        </div>
        <div class="home_page_work_experience" id="home_page_work_experience">
                <h2>Work Experience</h2>
            <div class="home_page_work_experience_paragraph">
                <strong style="font-size:30px;">SINOCONTECH</strong> <br /> Irving, TX <br />
                <span class="home_page_work_experience_position">Position: Software Engineer Intern</span>
                <span class="home_page_work_experience_date">Aug 2017 to present</span>
                <br />
                <ul>
                    <li>Designed and implemented website with Java (using Spring, Struts2 and Hibernate), JavaScript, HTML5
                        and CSS.</li>
                    <li>Constructed MySQL database for web application and implemented it on the AWS.</li>
                    <li>Created user signup and login interface and used MD5 to encrypt password.</li>
                </ul>
                <strong style="font-size:30px;">NCSI(CHINA)</strong> <br />Suzhou, Jiangsu, China <br />
                <span class="home_page_work_experience_position">Position: Software Consultant (Entry-Level Java Programmer)</span>
                <span class="home_page_work_experience_date">Sep 2014 to Feb 2015</span>
                <br />
                <ul>
                    <li>Acted as a leader of interns, responsible for the daily work management of interns. Successfully led design
                        presentations to product management team.</li>
                    <li>Participated in an online banking service project and helped firm finish User Manual of the project.</li>
                    <li>Proposed over 20 improvements, 90% of which got accepted.</li>
                    <li>Improved compatibility on different web browsers (Safari, Chrome, IE, Firefox) of the online banking service project.</li>
                    <li>Troubleshooter and resolved over 100 page-display issues caused by browser compatibility and framework configuration.</li>
                </ul>
            </div>
            <div class="home_page_body_work_experience_paragraph2">
                <ul style="list-style: none">
                    <li>
                        <img src="/image/if_Chat_1214955.png" />
                        <div class="home_page_skills">
                            <p>
                                Language Skills:<br />
                                Native Chinese(Mandarin), Fluent English
                            </p>
                        </div>
                    </li>
                    <li>
                        <img src="/image/if_ruler_1291774.png" />
                        <div class="home_page_skills">
                            <p>
                                Programming language:<br />
                                Java, SQL, HTML, CSS, JavaScript, Node.js, C
                            </p>
                        </div>
                    </li>
                    <li>
                        <img src="/image/if_data_115746.png" />
                        <div class="home_page_skills">
                            <p>
                                DBMS / Servers:<br />
                                MySQL, SQL server, Cassandra, Tomcat, IIS
                            </p>
                        </div>
                    </li>
                    <li>
                        <img src="/image/if_steam_512_463398.png" />
                        <div class="home_page_skills">
                            <p>
                                Tools / FrameWorks:<br />
                                Eclipse, Visual Studio, X-Code, AngularJS, jQuery, Spring, Hibernate, Struts2
                            </p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        {{> footer}}
    </div>
  </body>
</html>
